<!-- Thank you for keeping this line in the template :-) //-->
<!-- <{$ref_smartfactory}> //-->
<!-- Thank you for keeping this line in the template :-) //-->

<{if $podcast_display_breadcrumb}>
<div class="podcast_headertable">
	<{if $podcast_module_home}>
	<span class="podcast_modulename"><{$podcast_module_home}></span>
	<{/if}>
	<{if $podcast_category_path}>
	<span class="podcast_breadcrumb">
		<{if $podcast_module_home}>
		&gt;
		<{/if}>
		<{$podcast_category_path}></span>
	<{/if}>
</div>
<{/if}>

<div id="podcast_submit"><{if $podcast_showSubmitLink && $podcast_userCanSubmit}><a href="<{$podcast_url}>post.php?op=mod"><{$smarty.const._MI_PODCAST_POST_ADD}></a><{/if}></div>