<div id="podcast-main-content-container">

<{includeq file='db:podcast_header.html'}>

<{if $podcast_rights}>
<div>
	<h2>
		<{if $podcast_rights.identifier}>
		<a href="<{$podcast_rights.identifier}>"><{$podcast_rights.title}></a>
		<{else}>
		<{$podcast_rights.title}>
		<{/if}>
	</h2>
	<{if $podcast_rights.description}>
	<div class="podcast_separator">
		<p><{$podcast_rights.description}></p>
	</div>
	<{/if}>
	<{if $podcast_rights.identifier}>
	<div>
		<p><a href="<{$podcast_rights.identifier}>"><{$smarty.const._CO_PODCAST_RIGHTS_FULL_TERMS}></a></p>
	</div>
	<{/if}>
</div>
<{/if}>
<{if $podcast_rights_table}>
<h2><{$podcast_title}></h2>
<p><{$smarty.const._CO_PODCAST_RIGHT_ABOUT_RIGHTS}></p>
<{$podcast_rights_table}>
<{/if}>

<{includeq file='db:podcast_footer.html'}>

</div>